src/wsdl/localhost_9128/logicaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="addComentario" type="tns:addComentario"/>

<xs:element name="addComentarioResponse" type="tns:addComentarioResponse"/>

<xs:element name="altaAporte" type="tns:altaAporte"/>

<xs:element name="altaAporteF" type="tns:altaAporteF"/>

<xs:element name="altaAporteFResponse" type="tns:altaAporteFResponse"/>

<xs:element name="altaAporteResponse" type="tns:altaAporteResponse"/>

<xs:element name="altaPropuesta" type="tns:altaPropuesta"/>

<xs:element name="altaPropuestaResponse" type="tns:altaPropuestaResponse"/>

<xs:element name="añadirUsuarioC" type="tns:añadirUsuarioC"/>

<xs:element name="añadirUsuarioCResponse" type="tns:añadirUsuarioCResponse"/>

<xs:element name="añadirUsuarioP" type="tns:añadirUsuarioP"/>

<xs:element name="añadirUsuarioPResponse" type="tns:añadirUsuarioPResponse"/>

<xs:element name="cambiarFavorita" type="tns:cambiarFavorita"/>

<xs:element name="cambiarFavoritaResponse" type="tns:cambiarFavoritaResponse"/>

<xs:element name="cancelarPropuesta" type="tns:cancelarPropuesta"/>

<xs:element name="cancelarPropuestaResponse" type="tns:cancelarPropuestaResponse"/>

<xs:element name="cargarCategoriasWeb" type="tns:cargarCategoriasWeb"/>

<xs:element name="cargarCategoriasWebResponse" type="tns:cargarCategoriasWebResponse"/>

<xs:element name="comprobarPropuestas" type="tns:comprobarPropuestas"/>

<xs:element name="comprobarPropuestasResponse" type="tns:comprobarPropuestasResponse"/>

<xs:element name="consultaDeColaborador" type="tns:consultaDeColaborador"/>

<xs:element name="consultaDeColaboradorResponse" type="tns:consultaDeColaboradorResponse"/>

<xs:element name="consultaDeColaboradorWeb" type="tns:consultaDeColaboradorWeb"/>

<xs:element name="consultaDeColaboradorWebResponse" type="tns:consultaDeColaboradorWebResponse"/>

<xs:element name="consultaDeProponenteWeb" type="tns:consultaDeProponenteWeb"/>

<xs:element name="consultaDeProponenteWebResponse" type="tns:consultaDeProponenteWebResponse"/>

<xs:element name="consultaDePropuesta" type="tns:consultaDePropuesta"/>

<xs:element name="consultaDePropuestaResponse" type="tns:consultaDePropuestaResponse"/>

<xs:element name="dejarSeguirUsuario" type="tns:dejarSeguirUsuario"/>

<xs:element name="dejarSeguirUsuarioResponse" type="tns:dejarSeguirUsuarioResponse"/>

<xs:element name="eliminarProponente" type="tns:eliminarProponente"/>

<xs:element name="eliminarProponenteResponse" type="tns:eliminarProponenteResponse"/>

<xs:element name="esFavorita" type="tns:esFavorita"/>

<xs:element name="esFavoritaResponse" type="tns:esFavoritaResponse"/>

<xs:element name="existeCorreo" type="tns:existeCorreo"/>

<xs:element name="existeCorreoResponse" type="tns:existeCorreoResponse"/>

<xs:element name="existeNick" type="tns:existeNick"/>

<xs:element name="existeNickResponse" type="tns:existeNickResponse"/>

<xs:element name="existeTitulo" type="tns:existeTitulo"/>

<xs:element name="existeTituloResponse" type="tns:existeTituloResponse"/>

<xs:element name="extenderFinanciacion" type="tns:extenderFinanciacion"/>

<xs:element name="extenderFinanciacionResponse" type="tns:extenderFinanciacionResponse"/>

<xs:element name="getCategorias" type="tns:getCategorias"/>

<xs:element name="getCategoriasResponse" type="tns:getCategoriasResponse"/>

<xs:element name="getDataAporte" type="tns:getDataAporte"/>

<xs:element name="getDataAporteResponse" type="tns:getDataAporteResponse"/>

<xs:element name="getDataColaborador" type="tns:getDataColaborador"/>

<xs:element name="getDataColaboradorResponse" type="tns:getDataColaboradorResponse"/>

<xs:element name="getDataColaboradorWeb" type="tns:getDataColaboradorWeb"/>

<xs:element name="getDataColaboradorWebResponse" type="tns:getDataColaboradorWebResponse"/>

<xs:element name="getDataComentarios" type="tns:getDataComentarios"/>

<xs:element name="getDataComentariosResponse" type="tns:getDataComentariosResponse"/>

<xs:element name="getDataProponente" type="tns:getDataProponente"/>

<xs:element name="getDataProponenteResponse" type="tns:getDataProponenteResponse"/>

<xs:element name="getDataPropuestaSimple" type="tns:getDataPropuestaSimple"/>

<xs:element name="getDataPropuestaSimpleResponse" type="tns:getDataPropuestaSimpleResponse"/>

<xs:element name="getDataSugerencia" type="tns:getDataSugerencia"/>

<xs:element name="getDataSugerenciaResponse" type="tns:getDataSugerenciaResponse"/>

<xs:element name="getDataUsuarioWeb" type="tns:getDataUsuarioWeb"/>

<xs:element name="getDataUsuarioWebResponse" type="tns:getDataUsuarioWebResponse"/>

<xs:element name="getDataUsuarios" type="tns:getDataUsuarios"/>

<xs:element name="getDataUsuariosResponse" type="tns:getDataUsuariosResponse"/>

<xs:element name="getProponentes" type="tns:getProponentes"/>

<xs:element name="getProponentesResponse" type="tns:getProponentesResponse"/>

<xs:element name="getPropuestas" type="tns:getPropuestas"/>

<xs:element name="getPropuestasResponse" type="tns:getPropuestasResponse"/>

<xs:element name="getUsuario" type="tns:getUsuario"/>

<xs:element name="getUsuarioPorMail" type="tns:getUsuarioPorMail"/>

<xs:element name="getUsuarioPorMailResponse" type="tns:getUsuarioPorMailResponse"/>

<xs:element name="getUsuarioResponse" type="tns:getUsuarioResponse"/>

<xs:element name="ordenarDTUporSeguidores" type="tns:ordenarDTUporSeguidores"/>

<xs:element name="ordenarDTUporSeguidoresResponse" type="tns:ordenarDTUporSeguidoresResponse"/>

<xs:element name="registrarSesion" type="tns:registrarSesion"/>

<xs:element name="registrarSesionResponse" type="tns:registrarSesionResponse"/>

<xs:element name="seguirUsuario" type="tns:seguirUsuario"/>

<xs:element name="seguirUsuarioResponse" type="tns:seguirUsuarioResponse"/>

<xs:element name="verificarUsuario" type="tns:verificarUsuario"/>

<xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse"/>

<xs:complexType name="getDataColaboradorWeb">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataColaboradorWebResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataColaborador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataColaborador">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="tns:localDate" minOccurs="0"/>
<xs:element name="fecNacStr" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="losSigo" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="meSiguen" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="misAportes" type="tns:dataAporte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="propuestasColaboradas" type="tns:dataPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="imagenWeb" type="xs:string" minOccurs="0"/>
<xs:element name="listaAporte" type="tns:dataAporte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="losSigo" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="meSiguen" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="misPropuestas" type="tns:dataPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="misPropuestasFav" type="tns:dataPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="misPropuestasIngresadas" type="tns:dataPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataAporte">
<xs:sequence>
<xs:element name="aporte" type="xs:double" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="fechaHora" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="fechaStr" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="miColaborador" type="xs:string" minOccurs="0"/>
<xs:element name="miPropuesta" type="xs:string" minOccurs="0"/>
<xs:element name="necesaria" type="xs:double" minOccurs="0"/>
<xs:element name="retorno" type="tns:enumRetorno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDateTime" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dataPropuesta">
<xs:sequence>
<xs:element name="alcanzada" type="xs:double"/>
<xs:element name="cantidadColaboradores" type="xs:int"/>
<xs:element name="cantidadFav" type="xs:int"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="entrada" type="xs:double"/>
<xs:element name="estadoActual" type="tns:estado" minOccurs="0"/>
<xs:element name="fecha" type="tns:localDate" minOccurs="0"/>
<xs:element name="fechaLimit" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="fechaLimitStr" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPubli" type="tns:localDate" minOccurs="0"/>
<xs:element name="fechaPubliStr" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="lugar" type="xs:string" minOccurs="0"/>
<xs:element name="misAportes" type="tns:dataAporte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="necesaria" type="xs:double"/>
<xs:element name="nickProponenteDe" type="xs:string" minOccurs="0"/>
<xs:element name="p" type="tns:dataProponente" minOccurs="0"/>
<xs:element name="posibleRetorno" type="tns:enumRetorno" minOccurs="0"/>
<xs:element name="proponenteActivo" type="xs:boolean"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="estado" type="tns:enumEstado" minOccurs="0"/>
<xs:element name="fecha" type="tns:localDate" minOccurs="0"/>
<xs:element name="numeracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProponente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="tns:localDate" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="losSigo" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="meSiguen" type="tns:dataUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="misPropuestas" type="tns:dataPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sitioWeb" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprobarPropuestas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="comprobarPropuestasResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="extenderFinanciacion">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="extenderFinanciacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProponente">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProponenteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsuarioPorMail">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarioPorMailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeProponenteWeb">
<xs:sequence>
<xs:element name="NickName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeProponenteWebResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaPropuesta">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="lugar" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPrev" type="xs:string" minOccurs="0"/>
<xs:element name="montoXentrada" type="xs:string" minOccurs="0"/>
<xs:element name="montoNecesario" type="xs:string" minOccurs="0"/>
<xs:element name="posibleRetorno" type="tns:enumRetorno" minOccurs="0"/>
<xs:element name="fechaActual" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaPropuestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esFavorita">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esFavoritaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ordenarDTUporSeguidores">
<xs:sequence>
<xs:element name="listaDTU" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ordenarDTUporSeguidoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataSugerencia">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="puntaje" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataSugerenciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataSugerencias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataSugerencias">
<xs:sequence>
<xs:element name="Propuesta" type="xs:string" minOccurs="0"/>
<xs:element name="puntaje" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataUsuarioWeb">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataUsuarioWebResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPropuestas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPropuestasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuario">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="tns:localDate" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="imagenWeb" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataComentarios">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataComentariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataComentario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataComentario">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0"/>
<xs:element name="fecComentario" type="xs:string" minOccurs="0"/>
<xs:element name="nickColaborador" type="xs:string" minOccurs="0"/>
<xs:element name="tituloPropuesta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addComentario">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="comentario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addComentarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarPropuesta">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarPropuestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPropuestaSimple">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPropuestaSimpleResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPropuestaSimple" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPropuestaSimple">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="enumEstado" type="tns:enumEstado" minOccurs="0"/>
<xs:element name="lugar" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataProponente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataProponenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataProponente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeNick">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeNickResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarSesion">
<xs:sequence>
<xs:element name="dataSesion" type="tns:dataRegistro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRegistro">
<xs:sequence>
<xs:element name="IP" type="xs:string" minOccurs="0"/>
<xs:element name="navegador" type="xs:string" minOccurs="0"/>
<xs:element name="SO" type="xs:string" minOccurs="0"/>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarSesionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataAporte">
<xs:sequence>
<xs:element name="aporte" type="xs:double"/>
<xs:element name="fechaHora" type="xs:string" minOccurs="0"/>
<xs:element name="miPropuesta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataAporteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataAporte" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuario">
<xs:sequence>
<xs:element name="nick1" type="xs:string" minOccurs="0"/>
<xs:element name="nick2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeCorreo">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeCorreoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeColaborador">
<xs:sequence>
<xs:element name="NickName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeColaboradorResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataColaborador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarSeguirUsuario">
<xs:sequence>
<xs:element name="nick1" type="xs:string" minOccurs="0"/>
<xs:element name="nick2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarSeguirUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDePropuesta">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDePropuestaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPropuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProponentes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProponentesResponse">
<xs:sequence>
<xs:element name="return" type="tns:proponente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proponente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="activo" type="xs:boolean"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="sitioWeb" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="añadirUsuarioC">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="imagenWeb" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="añadirUsuarioCResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAporteF">
<xs:sequence>
<xs:element name="miColaborador" type="xs:string" minOccurs="0"/>
<xs:element name="miPropuesta" type="xs:string" minOccurs="0"/>
<xs:element name="aporte" type="xs:double"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="retorno" type="tns:enumRetorno" minOccurs="0"/>
<xs:element name="fecAp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAporteFResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarCategoriasWeb">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargarCategoriasWebResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCategoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCatPadre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataColaborador">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataColaboradorResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataColaborador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarFavorita">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarFavoritaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="añadirUsuarioP">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="fecNac" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="bio" type="xs:string" minOccurs="0"/>
<xs:element name="sitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="imagenWeb" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="añadirUsuarioPResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAporte">
<xs:sequence>
<xs:element name="miColaborador" type="xs:string" minOccurs="0"/>
<xs:element name="miPropuesta" type="xs:string" minOccurs="0"/>
<xs:element name="aporte" type="xs:double"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="retorno" type="tns:enumRetorno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeTitulo">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeTituloResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeColaboradorWeb">
<xs:sequence>
<xs:element name="NickName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDeColaboradorWebResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="enumRetorno">
<xs:restriction base="xs:string">
<xs:enumeration value="ENTRADAS_GRATIS"/>
<xs:enumeration value="PORCENTAJE_VENTAS"/>
<xs:enumeration value="AMBOS"/>
<xs:enumeration value="ERROR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="enumEstado">
<xs:restriction base="xs:string">
<xs:enumeration value="INGRESADA"/>
<xs:enumeration value="PUBLICADA"/>
<xs:enumeration value="EN_FINANCIACION"/>
<xs:enumeration value="FINANCIADA"/>
<xs:enumeration value="NO_FINANCIADA"/>
<xs:enumeration value="CANCELADA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>