src/wsdl/localhost_9128/logicaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="LogicaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:9128/logicaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultaDeColaboradorWeb">
<part name="parameters" element="tns:consultaDeColaboradorWeb"/>
</message>
<message name="consultaDeColaboradorWebResponse">
<part name="parameters" element="tns:consultaDeColaboradorWebResponse"/>
</message>
<message name="cargarCategoriasWeb">
<part name="parameters" element="tns:cargarCategoriasWeb"/>
</message>
<message name="cargarCategoriasWebResponse">
<part name="parameters" element="tns:cargarCategoriasWebResponse"/>
</message>
<message name="getDataPropuestaSimple">
<part name="parameters" element="tns:getDataPropuestaSimple"/>
</message>
<message name="getDataPropuestaSimpleResponse">
<part name="parameters" element="tns:getDataPropuestaSimpleResponse"/>
</message>
<message name="consultaDePropuesta">
<part name="parameters" element="tns:consultaDePropuesta"/>
</message>
<message name="consultaDePropuestaResponse">
<part name="parameters" element="tns:consultaDePropuestaResponse"/>
</message>
<message name="consultaDeProponenteWeb">
<part name="parameters" element="tns:consultaDeProponenteWeb"/>
</message>
<message name="consultaDeProponenteWebResponse">
<part name="parameters" element="tns:consultaDeProponenteWebResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="getDataUsuarios">
<part name="parameters" element="tns:getDataUsuarios"/>
</message>
<message name="getDataUsuariosResponse">
<part name="parameters" element="tns:getDataUsuariosResponse"/>
</message>
<message name="getDataUsuarioWeb">
<part name="parameters" element="tns:getDataUsuarioWeb"/>
</message>
<message name="getDataUsuarioWebResponse">
<part name="parameters" element="tns:getDataUsuarioWebResponse"/>
</message>
<message name="altaAporte">
<part name="parameters" element="tns:altaAporte"/>
</message>
<message name="altaAporteResponse">
<part name="parameters" element="tns:altaAporteResponse"/>
</message>
<message name="altaPropuesta">
<part name="parameters" element="tns:altaPropuesta"/>
</message>
<message name="altaPropuestaResponse">
<part name="parameters" element="tns:altaPropuestaResponse"/>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"/>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"/>
</message>
<message name="cambiarFavorita">
<part name="parameters" element="tns:cambiarFavorita"/>
</message>
<message name="cambiarFavoritaResponse">
<part name="parameters" element="tns:cambiarFavoritaResponse"/>
</message>
<message name="getDataComentarios">
<part name="parameters" element="tns:getDataComentarios"/>
</message>
<message name="getDataComentariosResponse">
<part name="parameters" element="tns:getDataComentariosResponse"/>
</message>
<message name="dejarSeguirUsuario">
<part name="parameters" element="tns:dejarSeguirUsuario"/>
</message>
<message name="dejarSeguirUsuarioResponse">
<part name="parameters" element="tns:dejarSeguirUsuarioResponse"/>
</message>
<message name="addComentario">
<part name="parameters" element="tns:addComentario"/>
</message>
<message name="addComentarioResponse">
<part name="parameters" element="tns:addComentarioResponse"/>
</message>
<message name="getPropuestas">
<part name="parameters" element="tns:getPropuestas"/>
</message>
<message name="getPropuestasResponse">
<part name="parameters" element="tns:getPropuestasResponse"/>
</message>
<message name="existeNick">
<part name="parameters" element="tns:existeNick"/>
</message>
<message name="existeNickResponse">
<part name="parameters" element="tns:existeNickResponse"/>
</message>
<message name="existeTitulo">
<part name="parameters" element="tns:existeTitulo"/>
</message>
<message name="existeTituloResponse">
<part name="parameters" element="tns:existeTituloResponse"/>
</message>
<message name="getUsuarioPorMail">
<part name="parameters" element="tns:getUsuarioPorMail"/>
</message>
<message name="getUsuarioPorMailResponse">
<part name="parameters" element="tns:getUsuarioPorMailResponse"/>
</message>
<message name="getCategorias">
<part name="parameters" element="tns:getCategorias"/>
</message>
<message name="getCategoriasResponse">
<part name="parameters" element="tns:getCategoriasResponse"/>
</message>
<message name="extenderFinanciacion">
<part name="parameters" element="tns:extenderFinanciacion"/>
</message>
<message name="extenderFinanciacionResponse">
<part name="parameters" element="tns:extenderFinanciacionResponse"/>
</message>
<message name="comprobarPropuestas">
<part name="parameters" element="tns:comprobarPropuestas"/>
</message>
<message name="comprobarPropuestasResponse">
<part name="parameters" element="tns:comprobarPropuestasResponse"/>
</message>
<message name="consultaDeColaborador">
<part name="parameters" element="tns:consultaDeColaborador"/>
</message>
<message name="consultaDeColaboradorResponse">
<part name="parameters" element="tns:consultaDeColaboradorResponse"/>
</message>
<message name="getProponentes">
<part name="parameters" element="tns:getProponentes"/>
</message>
<message name="getProponentesResponse">
<part name="parameters" element="tns:getProponentesResponse"/>
</message>
<message name="verificarUsuario">
<part name="parameters" element="tns:verificarUsuario"/>
</message>
<message name="verificarUsuarioResponse">
<part name="parameters" element="tns:verificarUsuarioResponse"/>
</message>
<message name="getDataAporte">
<part name="parameters" element="tns:getDataAporte"/>
</message>
<message name="getDataAporteResponse">
<part name="parameters" element="tns:getDataAporteResponse"/>
</message>
<message name="existeCorreo">
<part name="parameters" element="tns:existeCorreo"/>
</message>
<message name="existeCorreoResponse">
<part name="parameters" element="tns:existeCorreoResponse"/>
</message>
<message name="añadirUsuarioP">
<part name="parameters" element="tns:añadirUsuarioP"/>
</message>
<message name="añadirUsuarioPResponse">
<part name="parameters" element="tns:añadirUsuarioPResponse"/>
</message>
<message name="añadirUsuarioC">
<part name="parameters" element="tns:añadirUsuarioC"/>
</message>
<message name="añadirUsuarioCResponse">
<part name="parameters" element="tns:añadirUsuarioCResponse"/>
</message>
<message name="cancelarPropuesta">
<part name="parameters" element="tns:cancelarPropuesta"/>
</message>
<message name="cancelarPropuestaResponse">
<part name="parameters" element="tns:cancelarPropuestaResponse"/>
</message>
<message name="getDataColaborador">
<part name="parameters" element="tns:getDataColaborador"/>
</message>
<message name="getDataColaboradorResponse">
<part name="parameters" element="tns:getDataColaboradorResponse"/>
</message>
<message name="esFavorita">
<part name="parameters" element="tns:esFavorita"/>
</message>
<message name="esFavoritaResponse">
<part name="parameters" element="tns:esFavoritaResponse"/>
</message>
<message name="altaAporteF">
<part name="parameters" element="tns:altaAporteF"/>
</message>
<message name="altaAporteFResponse">
<part name="parameters" element="tns:altaAporteFResponse"/>
</message>
<portType name="LogicaWS">
<operation name="consultaDeColaboradorWeb">
<input wsam:Action="http://WebServices/LogicaWS/consultaDeColaboradorWebRequest" message="tns:consultaDeColaboradorWeb"/>
<output wsam:Action="http://WebServices/LogicaWS/consultaDeColaboradorWebResponse" message="tns:consultaDeColaboradorWebResponse"/>
</operation>
<operation name="cargarCategoriasWeb">
<input wsam:Action="http://WebServices/LogicaWS/cargarCategoriasWebRequest" message="tns:cargarCategoriasWeb"/>
<output wsam:Action="http://WebServices/LogicaWS/cargarCategoriasWebResponse" message="tns:cargarCategoriasWebResponse"/>
</operation>
<operation name="getDataPropuestaSimple">
<input wsam:Action="http://WebServices/LogicaWS/getDataPropuestaSimpleRequest" message="tns:getDataPropuestaSimple"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataPropuestaSimpleResponse" message="tns:getDataPropuestaSimpleResponse"/>
</operation>
<operation name="consultaDePropuesta">
<input wsam:Action="http://WebServices/LogicaWS/consultaDePropuestaRequest" message="tns:consultaDePropuesta"/>
<output wsam:Action="http://WebServices/LogicaWS/consultaDePropuestaResponse" message="tns:consultaDePropuestaResponse"/>
</operation>
<operation name="consultaDeProponenteWeb">
<input wsam:Action="http://WebServices/LogicaWS/consultaDeProponenteWebRequest" message="tns:consultaDeProponenteWeb"/>
<output wsam:Action="http://WebServices/LogicaWS/consultaDeProponenteWebResponse" message="tns:consultaDeProponenteWebResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://WebServices/LogicaWS/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://WebServices/LogicaWS/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="getDataUsuarios">
<input wsam:Action="http://WebServices/LogicaWS/getDataUsuariosRequest" message="tns:getDataUsuarios"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataUsuariosResponse" message="tns:getDataUsuariosResponse"/>
</operation>
<operation name="getDataUsuarioWeb">
<input wsam:Action="http://WebServices/LogicaWS/getDataUsuarioWebRequest" message="tns:getDataUsuarioWeb"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataUsuarioWebResponse" message="tns:getDataUsuarioWebResponse"/>
</operation>
<operation name="altaAporte">
<input wsam:Action="http://WebServices/LogicaWS/altaAporteRequest" message="tns:altaAporte"/>
<output wsam:Action="http://WebServices/LogicaWS/altaAporteResponse" message="tns:altaAporteResponse"/>
</operation>
<operation name="altaPropuesta">
<input wsam:Action="http://WebServices/LogicaWS/altaPropuestaRequest" message="tns:altaPropuesta"/>
<output wsam:Action="http://WebServices/LogicaWS/altaPropuestaResponse" message="tns:altaPropuestaResponse"/>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://WebServices/LogicaWS/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://WebServices/LogicaWS/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="cambiarFavorita">
<input wsam:Action="http://WebServices/LogicaWS/cambiarFavoritaRequest" message="tns:cambiarFavorita"/>
<output wsam:Action="http://WebServices/LogicaWS/cambiarFavoritaResponse" message="tns:cambiarFavoritaResponse"/>
</operation>
<operation name="getDataComentarios">
<input wsam:Action="http://WebServices/LogicaWS/getDataComentariosRequest" message="tns:getDataComentarios"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataComentariosResponse" message="tns:getDataComentariosResponse"/>
</operation>
<operation name="dejarSeguirUsuario">
<input wsam:Action="http://WebServices/LogicaWS/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
<output wsam:Action="http://WebServices/LogicaWS/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
</operation>
<operation name="addComentario">
<input wsam:Action="http://WebServices/LogicaWS/addComentarioRequest" message="tns:addComentario"/>
<output wsam:Action="http://WebServices/LogicaWS/addComentarioResponse" message="tns:addComentarioResponse"/>
</operation>
<operation name="getPropuestas">
<input wsam:Action="http://WebServices/LogicaWS/getPropuestasRequest" message="tns:getPropuestas"/>
<output wsam:Action="http://WebServices/LogicaWS/getPropuestasResponse" message="tns:getPropuestasResponse"/>
</operation>
<operation name="existeNick">
<input wsam:Action="http://WebServices/LogicaWS/existeNickRequest" message="tns:existeNick"/>
<output wsam:Action="http://WebServices/LogicaWS/existeNickResponse" message="tns:existeNickResponse"/>
</operation>
<operation name="existeTitulo">
<input wsam:Action="http://WebServices/LogicaWS/existeTituloRequest" message="tns:existeTitulo"/>
<output wsam:Action="http://WebServices/LogicaWS/existeTituloResponse" message="tns:existeTituloResponse"/>
</operation>
<operation name="getUsuarioPorMail">
<input wsam:Action="http://WebServices/LogicaWS/getUsuarioPorMailRequest" message="tns:getUsuarioPorMail"/>
<output wsam:Action="http://WebServices/LogicaWS/getUsuarioPorMailResponse" message="tns:getUsuarioPorMailResponse"/>
</operation>
<operation name="getCategorias">
<input wsam:Action="http://WebServices/LogicaWS/getCategoriasRequest" message="tns:getCategorias"/>
<output wsam:Action="http://WebServices/LogicaWS/getCategoriasResponse" message="tns:getCategoriasResponse"/>
</operation>
<operation name="extenderFinanciacion">
<input wsam:Action="http://WebServices/LogicaWS/extenderFinanciacionRequest" message="tns:extenderFinanciacion"/>
<output wsam:Action="http://WebServices/LogicaWS/extenderFinanciacionResponse" message="tns:extenderFinanciacionResponse"/>
</operation>
<operation name="comprobarPropuestas">
<input wsam:Action="http://WebServices/LogicaWS/comprobarPropuestasRequest" message="tns:comprobarPropuestas"/>
<output wsam:Action="http://WebServices/LogicaWS/comprobarPropuestasResponse" message="tns:comprobarPropuestasResponse"/>
</operation>
<operation name="consultaDeColaborador">
<input wsam:Action="http://WebServices/LogicaWS/consultaDeColaboradorRequest" message="tns:consultaDeColaborador"/>
<output wsam:Action="http://WebServices/LogicaWS/consultaDeColaboradorResponse" message="tns:consultaDeColaboradorResponse"/>
</operation>
<operation name="getProponentes">
<input wsam:Action="http://WebServices/LogicaWS/getProponentesRequest" message="tns:getProponentes"/>
<output wsam:Action="http://WebServices/LogicaWS/getProponentesResponse" message="tns:getProponentesResponse"/>
</operation>
<operation name="verificarUsuario">
<input wsam:Action="http://WebServices/LogicaWS/verificarUsuarioRequest" message="tns:verificarUsuario"/>
<output wsam:Action="http://WebServices/LogicaWS/verificarUsuarioResponse" message="tns:verificarUsuarioResponse"/>
</operation>
<operation name="getDataAporte">
<input wsam:Action="http://WebServices/LogicaWS/getDataAporteRequest" message="tns:getDataAporte"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataAporteResponse" message="tns:getDataAporteResponse"/>
</operation>
<operation name="existeCorreo">
<input wsam:Action="http://WebServices/LogicaWS/existeCorreoRequest" message="tns:existeCorreo"/>
<output wsam:Action="http://WebServices/LogicaWS/existeCorreoResponse" message="tns:existeCorreoResponse"/>
</operation>
<operation name="añadirUsuarioP">
<input wsam:Action="http://WebServices/LogicaWS/añadirUsuarioPRequest" message="tns:añadirUsuarioP"/>
<output wsam:Action="http://WebServices/LogicaWS/añadirUsuarioPResponse" message="tns:añadirUsuarioPResponse"/>
</operation>
<operation name="añadirUsuarioC">
<input wsam:Action="http://WebServices/LogicaWS/añadirUsuarioCRequest" message="tns:añadirUsuarioC"/>
<output wsam:Action="http://WebServices/LogicaWS/añadirUsuarioCResponse" message="tns:añadirUsuarioCResponse"/>
</operation>
<operation name="cancelarPropuesta">
<input wsam:Action="http://WebServices/LogicaWS/cancelarPropuestaRequest" message="tns:cancelarPropuesta"/>
<output wsam:Action="http://WebServices/LogicaWS/cancelarPropuestaResponse" message="tns:cancelarPropuestaResponse"/>
</operation>
<operation name="getDataColaborador">
<input wsam:Action="http://WebServices/LogicaWS/getDataColaboradorRequest" message="tns:getDataColaborador"/>
<output wsam:Action="http://WebServices/LogicaWS/getDataColaboradorResponse" message="tns:getDataColaboradorResponse"/>
</operation>
<operation name="esFavorita">
<input wsam:Action="http://WebServices/LogicaWS/esFavoritaRequest" message="tns:esFavorita"/>
<output wsam:Action="http://WebServices/LogicaWS/esFavoritaResponse" message="tns:esFavoritaResponse"/>
</operation>
<operation name="altaAporteF">
<input wsam:Action="http://WebServices/LogicaWS/altaAporteFRequest" message="tns:altaAporteF"/>
<output wsam:Action="http://WebServices/LogicaWS/altaAporteFResponse" message="tns:altaAporteFResponse"/>
</operation>
</portType>
<binding name="LogicaWSPortBinding" type="tns:LogicaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultaDeColaboradorWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarCategoriasWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataPropuestaSimple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaDePropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaDeProponenteWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataUsuarioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaAporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataComentarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPropuestas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeNick">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioPorMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extenderFinanciacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarPropuestas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaDeColaborador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProponentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataAporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="añadirUsuarioP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="añadirUsuarioC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataColaborador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="esFavorita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaAporteF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LogicaWS">
<port name="LogicaWSPort" binding="tns:LogicaWSPortBinding">
<soap:address location="http://localhost:9128/logicaWS"/>
</port>
</service>
</definitions>